<!doctype html>
<html lang="en_US">

<head>
	<meta charset="utf-8">
	<meta name="theme-color" content="#ee34e7">
	<title>8 Bit Music Theory Weeklies</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="all">
	<link rel="stylesheet" href="/static/hall.css" type="text/css" media="all">
	<script src="[VUE-URL]"></script>
</head>

<body>
	<h1>
		<img src="/static/banner.png" alt="8BIT MUSIC THEORY WEEKLIES" />
	</h1>
	<div id="content">
		<div v-if="working">Loading...</div>
		<div v-else>
			<div class="hall-container">
				<div style="text-align:center;">HALL OF FAME</div>
				<table cellpadding='0' class='hall-table'>
					<tr class="entry-table-header-row">
						<th class="entry-table-header">Name</th>
						<th class="entry-table-header">Discord</th>
						<th class="entry-table-header">Links</th>
					</tr>
					<tr v-for="(data, name) in hallOfFameData">
						<td class="entry-cell">{{ name }}</td>
						<td class="entry-cell">{{ data.discord }}</td>
						<td class="entry-cell">{{ data.links }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<script>

		var app = new Vue({
			el: '#content',
			data: function () {
				return {
					hallOfFameData: null,
					mode: null,
					working: false
				}
			},
			async mounted() {
				this.working = true;

				let hallResponse;
				hallResponse = await fetch("/hall_data")
				
				if (!hallResponse.ok) {
					alert("Something went wrong: " + await hallResponse.text());
				} else {
					let hallData = await hallResponse.json()

					this.hallOfFameData = hallData
				}

				this.working = false;
			},
			methods: {
				truncateString: function (s, length) {
					if (s.length > length) {
						return s.slice(0, length - 1) + "..."
					}
					return s
				}
			}
		})
	</script>
</body>

</html>
