<!doctype html>
<html lang="en_US">

<head>
	<meta charset="utf-8">
	<meta name="theme-color" content="#ee34e7">
	<title>8 Bit Music Theory Weeklies</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="all">
	<link rel="stylesheet" href="/static/winners.css" type="text/css" media="all">
	<script src="[VUE-URL]"></script>
</head>

<body>
	<h1>
		<img src="/static/banner.png" alt="8BIT MUSIC THEORY WEEKLIES" />
	</h1>
	<div id="content">
		<div v-if="working">Loading...</div>
		<div v-else>
			<div class="winners-container">
				<h2 class="winners-title">HALL OF FAME</h2>
				<table cellpadding='0' class='winners-table'>
					<tr class="entry-table-header-row">
						<th class="entry-table-header">Name</th>
						<th class="entry-table-header">Discord</th>
						<th class="entry-table-header">Links</th>
					</tr>
					<tr v-for="(data, name) in winnersData">
						<td class="entry-cell">{{ name }}</td>
						<td class="entry-cell">{{ data.discord }}</td>
						<td class="entry-cell">
							<a v-for="link in data.links" :href="link">
								<button class="icon-button">
									<img src="/static/interface-chain.png" alt="Link" />
								</button>
							</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<script>

		var app = new Vue({
			el: '#content',
			data: function () {
				return {
					winnersData: null,
					mode: null,
					working: false
				}
			},
			async mounted() {
				this.working = true;

				let winnersResponse;
				winnersResponse = await fetch("/winners_data")
				
				if (!winnersResponse.ok) {
					alert("Something went wrong: " + await winnersResponse.text());
				} else {
					let winnersResponseData = await winnersResponse.json()

					this.winnersData = winnersResponseData
				}

				this.working = false;
			},
			methods: {
				truncateString: function (s, length) {
					if (s.length > length) {
						return s.slice(0, length - 1) + "..."
					}
					return s
				}
			}
		})
	</script>
</body>

</html>
